img{
    transition: all .3s linear;
    width:205px;
    height:205px;
    padding-left: 10px;
}
.monster-name{
    font-variant: small-caps;
    padding-left: 6px;
}
.cover{
    transition: all .3s linear;
}

body{
background: hsla(99, 11%, 5%, 0.73);
margin: 5vw;
}

.clicked{
    transform: translate(-30%,-26%) scale(0.4);
    transition: all .3s linear;
}

.wrapper{
    position: relative;
    justify-content: left;
    width: 260px;
    display: grid;
    grid-template-areas: 
    "image image table table"
    "ailments  ailments ailments wiki-link";
    grid-template-columns: 50px 50px 60px 100px;
    grid-template-rows: auto auto;
    gap: 0px;
    border: ridge white 1pt;
    background: hsla(128, 16%, 79%, 0.73);
    margin: 0px 5px;
}

.table, .wiki.link, .ailments{
    background: hsla(128, 16%, 70%, 0.9);
}

.view-name, .image-background, .name, .clicked, .cover{
    position: absolute;
}

.image-background{
    width:100%;
    height: 100%;

}

.name{
    transition: all .5s linear;
    opacity: 0%;
}

.view-name{
    transition: all .5s linear;
}

.hide-table{
    transition: all .5s linear;
    opacity: 0%;
}

.view-table{
    transition: all .5s linear;
}

.flex{
    display: flex;
}


.fire{
    background-image: url("/src/icons/mhw-fire-damage.webp");
}
.water{
    background-image: url("/src/icons/mhw-water-damage.webp");
}
.thunder{
    background-image: url("../../icons/mhw-thunder-damage.webp");
}
.ice{
    background-image: url("../../icons/mhw-ice-damage.webp");
}
.dragon{
    background-image: url("../../icons/mhw-dragon-damage.webp");
}

.poison{
    background-image: url("../../icons/mhw-poison.webp");
}
.sleep{
    background-image: url("../../icons/mhw-sleep.webp");
}
.paralysis{
    background-image: url("../../icons/mhw-paralysis.webp");
}
.blast{
    background-image: url("../../icons/mhw-blastblight.webp");
}
.stun{
    background-image: url("../../icons/mhw-stun.webp");
}
.bleeding{
    background-image: url("../../icons/mhw-bleeding.webp");
}
.defense-down{
    background-image: url("../../icons/mhw-defense-down.webp");
}
.weak-roar{
    background-image: url("../../icons/mhw-weak-roar.webp");
}
.strong-roar{
    background-image: url("../../icons/mhw-strong-roar.webp");
}
.effluvial-buildup{
    background-image: url("../../icons/mhw-effluvial.webp");
}


.icon {
    background-size: 15px;
    background-repeat: no-repeat;
    display: inline-block;
    width: 15px;
    height: 15px;
}

.stars{
    width: 4rem;
}

.Weaknesses{
    height: 115px;
    margin: 0 auto;
    grid-area: table;
}

table{
    display: inline-block;
    border-collapse: collapse;
    margin: auto;
}
.status-table{
    padding-left: 5px;
    font-size: 11pt;
}
.wiki-link{
grid-area: wiki-link;
justify-content: center;
align-items: center;
}
.ailments{
grid-area: ailments;
height: 90px;
justify-content: center;
align-items: center;
}

.table{
    width:100%;
}

.monster-type{
    font-variant: small-caps;
    writing-mode: vertical-rl;
    text-orientation: upright;
    padding: 1em
}

h2{
    padding: 0;
    margin: 0;
}

.monster-card{
    margin-bottom: 20px;
}

.search-container{
    display: flex;
    justify-content: center;
    margin: auto 0;

}
.search-bar{
    flex-basis: 80%;
}

.search-label{
    font-size: 1.5em;
    padding-right: .5em;
    font-variant: small-caps;
}