img{
    transition: all .3s linear;
    width:230px;
    height:230px;
    padding-left: 10px;
    background-color: black;
}
.cover{
    transition: all .3s linear;
    width:240px;
    background-color: grey;
}

.clicked{
    transform: translate(-30%,-26%) scale(0.4);
    transition: all .3s linear;
    margin-bottom: 10px;
}

.wrapper{
    position: relative;
    justify-content: left;
    width: 260px;
    height:230px;
    display: grid;
    grid-template-areas: 
    "image image table table"
    "image image table table"
    "ailments  ailments ailments wiki-link";
    grid-template-columns: 50px 50px 80px 80px;
    grid-template-rows: auto auto auto auto;
    grid-gap: 0px;
}

.view-name, .image-background, .name, .clicked, .cover{
    position: absolute;
}

.image-background{
    width:100%;
    height: 100%;

}

.name{
    transition: all .5s linear;
    opacity: 0%;
}

.view-name{
    transition: all .5s linear;
    opacity: 100%
}

.hide-table{
    transition: all .5s linear;
    opacity: 0%
}

.view-table{
    transition: all .5s linear;
    opacity: 100%
}

body{
}

.flex{
    display: flex;
}


.fire{
    background-image: url("/src/icons/mhw-fire-damage.webp");
}
.water{
    background-image: url("/src/icons/mhw-water-damage.webp");
}
.thunder{
    background-image: url("../../icons/mhw-thunder-damage.webp");
}
.ice{
    background-image: url("../../icons/mhw-ice-damage.webp");
}
.dragon{
    background-image: url("../../icons/mhw-dragon-damage.webp");
}

.poison{
    background-image: url("../../icons/mhw-poison.webp");
}
.sleep{
    background-image: url("../../icons/mhw-sleep.webp");
}
.paralysis{
    background-image: url("../../icons/mhw-paralysis.webp");
}
.blast{
    background-image: url("../../icons/mhw-blastblight.webp");
}
.stun{
    background-image: url("../../icons/mhw-stun.webp");
}
.bleeding{
    background-image: url("../../icons/mhw-bleeding.webp");
}
.defense-down{
    background-image: url("../../icons/mhw-defense-down.webp");
}
.weak-roar{
    background-image: url("../../icons/mhw-weak-roar.webp");
}
.strong-roar{
    background-image: url("../../icons/mhw-strong-roar.webp");
}
.effluvial-buildup{
    background-image: url("../../icons/mhw-effluvial.webp");
}


.icon {
    background-size: 15px;
    background-repeat: no-repeat;
    display: inline-block;
    width: 15px;
    height: 15px;
}

.stars{
    width: 4rem;
}

.Weaknesses{
    height: 115px;
    margin: 0 auto;
    grid-area: table;
}

table{
    display: inline-block;
    border-collapse: collapse;
}
.status-table{
    padding-left: 5px;
    font-size: 11pt;
}
.wiki-link{
grid-area: wiki-link;
background-color: khaki;
}
.ailments{
grid-area: ailments;
background-color: lawngreen;
height: 90px;
}

.table{
    background-color: lightcoral;
    width:100%;
}

.monster-type{
    font-variant: small-caps;
    writing-mode: vertical-rl;
    text-orientation: upright;
    padding-left: 2px;
}

h2{
    padding: 0;
    margin: 0;
}

.monster-card{
    margin-bottom: 20px;
}